body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 2px solid black;
    margin-bottom: 8px;
    border-radius: 25px;
    font-size: 20px;
}

input:focus {
    outline: none;
}

button {
    background: white;
    color: black;
    padding: 10px 20px;
    border: 2px solid black;
    font-weight: bold;
    border-radius: 25px;
    text-align: center;
    margin-right: 4px;
}

.icon-1 { 
    font-size: 24px;
    -webkit-text-stroke: 1.5px;
    padding-right: 4px;
}

.icon-2{
    font-size: 24px;
    -webkit-text-stroke: .25px;
    padding-right: 4px;
}

span {
    display: flex;
    align-items: center;
    font-size: 16px;
}

button:hover {
    background: rgb(0, 255, 0);
    color: whitesmoke;
    border: 2px solid rgb(0, 255, 0);
}

#delete-btn:hover {
    background: red;
    color: aliceblue;
    border: 2px solid red;
}
